<h1>Tasksk APP</h1>

<div class="jumbotron">
  <h1>My task application</h1>
  <p class="lead">This simple app help us to create, read, update, and delete tasks.</p>
  <a class="btn btn-lg btn-primary" href="/tasks" role="button">Create a task »</a>
</div>


{{> navigation}}


<div class="container">

</div>