<h1>Tasksk APP</h1>

{{> navigation}}


<form action="/tasks" method="POST">
  <input type="text" name="title">
  <textarea name="description" cols="30" rows="3"></textarea>
  <button type="submit">Save</button>
</form>